.advantages {
    background-color: #F6F6F6;
    padding: 70px 0 65px;
    &__items {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        text-align: center;
        margin-top: 60px;
    }
    &__item {
        width: 243px;
    }
}
.item {
    &__img {
        margin-bottom: 35px;
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
        &_cupshake{
            animation-name: cupshake;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    &__header {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
    }
    &__text {
        line-height: 18px;
        font-weight: 300;
        font-size: 14px;    
        a {
            color: #FF0000;
            text-transform: uppercase;
        }
    }
}